*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}
.row input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
}
.row button{
    outline: none;
    border: none;
    padding: 16px 50px;
    background: #ff5945;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#list-container li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#list-container li::before{
    content: '';
    /* border: 1px solid #ff5945; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 8px;
    top:10px;
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
}
#list-container li.checked{
    color: #000;
    text-decoration: line-through;
}
#list-container li.checked::before{
    background-image: url(images/checked.png);
}
#list-container span{
    top: 5px;
    right: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    font-style: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
#list-container span:hover{
    background: #edeef0;
}